* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Lato", sans-serif;
	overflow: hidden;
	background-color: #31363f;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
	border-radius: 5px;
}

// img, picture, video, canvas, svg {
//     display: block;
//     max-width: 100%;
// }

input,
button,
textarea,
select,
div {
	font: inherit;
	border-radius: 5px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
