@import "../../responsive.scss";

.layout {
	//height: 100vh;
	max-width: 1366px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;

	@include lg {
		background-color: #686d76;
		max-width: 1280px;
	}

	@include md {
		background-color: #373a40;
		max-width: 768px;
	}

	@include sm {
		background-color: #322c2b;
		max-width: 640px;
	}

	.content {
		background-color: #686d76;
		flex: 1;
		margin-top: 20px;
		border-radius: 5px;
	}
}
